body {
    background-color: rgb(236, 156, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width:70%;
    margin:20px auto;

}
section {
    width:50%;
    background-color: rgb(115, 11, 250);
    margin:5%;
}
h2 {
    font-size: 30px;
    color: white;
}
p {
    font-size: 20px;
}
ul {
    font-size: 20px;
}
a {
    font-size: 50px;
}